.container {
  padding: 0 24px;

  &.create {
    padding: 62px 110px 80px;
    display: flex;
    flex-direction: column;
    gap: 66px;
  }
}

@media screen and (max-width: 578px) {
  .container {
    padding: 0 5px;
  
    &.create {
      padding: 20px 5px 10px;
    }
  }
}