.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.7);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fff;
  padding: 32px;
  width: 396px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 22px;
  border-radius: 12px;
}


.text {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

@media screen and (max-width: 470px) {
  .container {
    width: 310px;
    box-sizing: border-box;
  }
}