.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  position: relative;

  .length {
    font-size: 9px;
    font-weight: 400;
    align-self: self-end;
  }

  .label {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333;
  }

  .error {
      color: #e84e58;
      font-size: 10px;
  }
  .input {
    height: 84px;
    padding: 12px;
    border: #00000029 solid 1px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;

    &.error {
      border-color: #e84e58;;
    }

    .input_field {
      border: none;
      outline: none;
      width: 100%;
      height: 100%;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
